@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: var(--light-gray);
  max-width: 1440px;
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto auto;
  background-color: white;
  width: 635px;
  height: 475px;
  display: grid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "community community"
    "subscription why";
}

.community {
  grid-area: community;
  background: white;
  padding: 30px 40px 30px 40px;
  // height: 50vh;

  h1 {
    color: var(--cyan);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 19px;
    color: var(--bright-yellow);
    margin-bottom: 20px;
  }

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    line-height: 1.8;
  }
}

.subscription {
  grid-area: subscription;
  padding: 30px 40px 30px 40px;
  // height: 50vh;
  background: #2bb3b1;

  h2 {
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
  }

  &__money {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h3 {
      margin: 0;
      font-size: 30px;
      color: white;
      margin-right: 10px;
    }

    span {
      color: #7be7e7;
      font-weight: 400;
    }
  }

  p {
    font-size: 16px;
    color: var(--light-gray);
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    border: none;
    height: 50px;
    color: white;
    border-radius: 10px;
    background-color: var(--bright-yellow);
    box-shadow: 0px 5px 10px darkcyan;
  }
}

.why {
  padding: 30px 40px 30px 40px;
  grid-area: why;
  height: auto;
  background: #4abebd;

  h2 {
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    color: var(--light-gray);
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 640px) {
  
  body {
    padding: 10px;
  }

  .container {
    // margin: auto auto;
    background-color: white;
    margin-bottom: 50px;
    max-width: 315px;
    height: 100vh;
    display: grid;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "community"
      "subscription"
      "why";
  }

}